<div class="list">

  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" ng-model="user['FirstName']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" ng-model="user['LastName']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Type</span>
    <input type="text" ng-model="user['Type']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Sex</span>
    <input type="text" ng-model="user['Sex']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Language</span>
    <input type="text" ng-model="user['Language']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Year</span>
    <input type="text" ng-model="user['Year']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Major</span>
    <input type="text" ng-model="user['Major']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Location</span>
    <input type="text" ng-model="user['Location']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Company</span>
    <input type="text" ng-model="user['Company']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Job</span>
    <input type="text" ng-model="user['Job']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Friends</span>
    <input type="text" ng-model="user['Friends']">
  </label>

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
