<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <img ng-src="/propics/{{user.id}}.jpg" alt="No pic!" class="profile-pic"></img>
      <h2 class="text-centered">{{user['FirstName']}} {{user['LastName']}}</h2>
      <h5>{{user['Major']}} {{user['Type']}}, Class of {{user['Year']}}</h5>
      <h5>{{user['Job']}} at {{user['Company']}}</h5>
      <p>Location: <span ng-bind="user['Location']"></span></p>
      <p>Sex: <span ng-bind="user['Sex']"></span></p>
      <p>Language: <span ng-bind="user['Language']"></span></p>
<!--No friends yet :(
      <p>Friends: <span ng-bind="user['Friends']"></span></p>
    -->
    </div>
  </div>
</div>
